[submodule "src/lib/mustache"]
	path = src/lib/mustache
	url = https://github.com/bobthecow/mustache.php.git
[submodule "src/lib/markdown"]
	path = src/lib/markdown
	url = https://github.com/michelf/php-markdown.git
