<article>
    <p>{{content}}</p>
    <p>ID: {{id}}</p>
    <p><a href="{{rootPath}}">Index</a></p>
    <p><a href="{{rootPath}}another/page/that/takes/an/8/cool/right">Another Page That Takes An 8 Cool Right</a></p>
    <p><a href="{{rootPath}}another/page/that/takes/an/10/cool/right/">Another Page That Takes An 10 Cool Right</a></p>
    <p><a href="{{rootPath}}fdsfsdfd/Fsdfdsf/fsdf">dsfdsfdsf</a></p>
    <p><a href="{{rootPath}}forms">forms</a></p>
</article>
