<article>
    {{{content}}}
    <p><a href="http://178.79.133.30/~cb/labs/Phap/examples/basic/">Index</a></p>
    <p><a href="http://178.79.133.30/~cb/labs/Phap/examples/basic/another/page/that/takes/an/8/cool/right">Another Page That Takes An 8 Cool Right</a></p>
    <p><a href="http://178.79.133.30/~cb/labs/Phap/examples/basic/another/page/that/takes/an/10/cool/right/">Another Page That Takes An 10 Cool Right</a></p>
    <p><a href="http://178.79.133.30/~cb/labs/Phap/examples/basic/fdsfsdfd/Fsdfdsf/fsdf">dsfdsfdsf</a></p>
</article>
